@import "tailwindcss" source(none);

@source "../../../client/ui";
@source "../../../../views";

@theme {
  --font-mono: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
}

@utility no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

@layer components {
  .yj-text-xs {
    @apply m-[0.25] px-1 py-[0.25] text-xs
  }
  .yj-text-sm {
    @apply m-[0.5] px-2 py-[0.5] text-sm
  }
  .yj-text-md {
    @apply m-1 px-4 py-1 text-base font-semibold
  }
  .yj-text-lg {
    @apply m-2 px-8 py-2 text-lg font-semibold
  }
  .yj-panel-white {
    @apply text-gray-800 bg-gray-100 border border-gray-400 pointer-events-auto
  }
  .yj-panel-gray {
    @apply text-gray-200 bg-gray-700 border border-gray-500 pointer-events-auto
  }
  .yj-panel-green {
    @apply text-green-200 bg-green-700 border border-green-500 pointer-events-auto
  }
  .yj-panel-red {
    @apply text-pink-200 bg-pink-700 border border-pink-500 pointer-events-auto
  }
}