@import "tailwindcss" source(none);

@source "../../../client/ui";
@source "../../../../views";

@theme {
  --font-mono: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
}

@utility no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}