body {
	position: relative;
	display: block;
	max-width: 90vw;
	text-align: center;	padding: 0.5vmin 0.5vmin 0.5vmin 0.5vmin;	margin: 0.5vmin auto 0.5vmin auto;
	font-size: min(2.24vmax, 18.00px);
	font-family: Courier New;
	font-style: normal;
	font-weight: 400;
	background-color: #202020;
	color: #f0f0f0;
}
p {
	position: relative;
	display: block;
	max-width: 90vw;
	text-align: center;	padding: 1.5vmin 1.5vmin 1.5vmin 1.5vmin;	margin: 1.5vmin auto 1.5vmin auto;
	font-size: min(2.24vmax, 18.00px);
	font-family: Courier New;
	font-style: normal;
	font-weight: 400;
	background-color: #202020;
	color: #f0f0f0;
}
h3 {
	position: relative;
	display: block;
	max-width: 90vw;
	text-align: center;	padding: 1.0vmin 1.0vmin 1.0vmin 1.0vmin;	margin: 1.0vmin auto 1.0vmin auto;
	font-size: min(2.69vmax, 22.00px);
	font-family: Courier New;
	font-style: italic;
	font-weight: 700;
	background-color: #202020;
	color: #f0f0f0;
}
h2 {
	position: relative;
	display: block;
	max-width: 90vw;
	text-align: center;	padding: 1.5vmin 1.5vmin 1.5vmin 1.5vmin;	margin: 1.5vmin auto 1.5vmin auto;
	font-size: min(3.20vmax, 26.00px);
	font-family: Courier New;
	font-style: italic;
	font-weight: 700;
	background-color: #202020;
	color: #a0a0a0;
}
h1 {
	position: relative;
	display: block;
	max-width: 90vw;
	text-align: center;	padding: 1.5vmin 1.5vmin 1.5vmin 1.5vmin;	margin: 1.5vmin auto 1.5vmin auto;
	font-size: min(4.48vmax, 36.00px);
	font-family: Courier New;
	font-style: italic;
	font-weight: 700;
	background-color: #202020;
	color: #e0d0a0;
}
a:link {
  color: #a0a0a0;
}
a:visited {
  color: #a0a0a0;
}
a:hover {
  color: #e0d0a0;
}
a:active {
  color: #a0a0a0;
}
footer {
	position: relative;
	display: block;
	margin-top: 5vh;
	margin-bottom: 5vh;
	margin-left: 5vw;
	margin-right: 5vw;
	padding: 3vmax 3vmax 3vmax 3vmax;
	font-size: min(2.69vmax, 22.00px);
	font-family: Courier New;
	font-style: italic;
	font-weight: 700;
	background-color: #202020;
	color: #707070;
}

.snippet {
	position: relative;
	display: inline-block;
	width: auto;
	text-align: left;	padding: 2.0vmin 2.0vmin 2.0vmin 2.0vmin;	margin: 2.0vmin auto 2.0vmin auto;
	font-size: min(2.24vmax, 18.00px);
	font-family: Courier New;
	font-style: normal;
	font-weight: 700;
	background-color: #000000;
	color: #80d070;
	border-radius: 4.5vmin;
	white-space: nowrap;
}
.excerpt {
	position: relative;
	display: inline-block;
	width: auto;
	text-align: center;	padding: 1.5vmin 1.5vmin 1.5vmin 1.5vmin;	margin: 1.5vmin auto 1.5vmin auto;
	font-size: min(2.24vmax, 18.00px);
	font-family: Courier New;
	font-style: italic;
	font-weight: 400;
	background-color: #000000;
	color: #80d070;
	border-radius: 4.5vmin;
}
.banner {
	position: relative;
	display: block;
	max-width: 90vw;
	text-align: center;	padding: 2.0vmin 2.0vmin 2.0vmin 2.0vmin;	margin: 2.0vmin auto 2.0vmin auto;
	font-size: min(3.20vmax, 26.00px);
	font-family: Courier New;
	font-style: italic;
	font-weight: 700;
	background-color: #a0a0a0;
	color: #202020;
	border-radius: 4.5vmin;
}
.s_spacer {
	position: relative;
	display: block;
	max-width: 90vw;
	text-align: center;	padding: 0.5vmin 0.5vmin 0.5vmin 0.5vmin;	margin: 0.5vmin auto 0.5vmin auto;
	background-color: #202020;
	color: #a0a0a0;
}
.m_spacer {
	position: relative;
	display: block;
	max-width: 90vw;
	text-align: center;	padding: 1.0vmin 1.0vmin 1.0vmin 1.0vmin;	margin: 1.0vmin auto 1.0vmin auto;
	background-color: #202020;
	color: #a0a0a0;
}
.l_spacer {
	position: relative;
	display: block;
	max-width: 90vw;
	text-align: center;	padding: 1.5vmin 1.5vmin 1.5vmin 1.5vmin;	margin: 1.5vmin auto 1.5vmin auto;
	background-color: #202020;
	color: #a0a0a0;
}
.xl_spacer {
	position: relative;
	display: block;
	max-width: 90vw;
	text-align: center;	padding: 2.0vmin 2.0vmin 2.0vmin 2.0vmin;	margin: 2.0vmin auto 2.0vmin auto;
	background-color: #202020;
	color: #a0a0a0;
}

@media (orientation: landscape) {
	
iframe {
	position: relative;
	display: block;
	max-width: 90vw;
	text-align: center;	padding: 1.0vmin 1.0vmin 1.0vmin 1.0vmin;	margin: 1.0vmin auto 1.0vmin auto;
	font-size: min(3.20vmax, 26.00px);
	font-family: Courier New;
	font-style: italic;
	font-weight: 700;
	background-color: #202020;
	color: #a0a0a0;
}
.logoImage {
	position: relative;
	display: block;
	max-width: 40vw;
	text-align: center;	padding: 1.0vmin 1.0vmin 1.0vmin 1.0vmin;	margin: 1.0vmin auto 1.0vmin auto;
	font-size: min(4.48vmax, 36.00px);
	font-family: Courier New;
	font-style: italic;
	font-weight: 700;
	background-color: #202020;
	color: #a0a0a0;
}
.logoImageSmall {
	position: relative;
	display: block;
	max-width: 23vw;
	text-align: center;	padding: 1.0vmin 1.0vmin 1.0vmin 1.0vmin;	margin: 1.0vmin auto 1.0vmin auto;
	font-size: min(4.48vmax, 36.00px);
	font-family: Courier New;
	font-style: italic;
	font-weight: 700;
	background-color: #202020;
	color: #a0a0a0;
}
.profileImage {
	position: relative;
	display: block;
	max-width: 28vw;
	text-align: center;	padding: 1.0vmin 1.0vmin 1.0vmin 1.0vmin;	margin: 1.0vmin auto 1.0vmin auto;
	font-size: min(4.48vmax, 36.00px);
	font-family: Courier New;
	font-style: italic;
	font-weight: 700;
	background-color: #202020;
	color: #f0f0f0;
	border-radius: 4.5vmin;
}
.figureImage {
	position: relative;
	display: block;
	max-width: 40vw;
	text-align: center;	padding: 1.0vmin 1.0vmin 1.0vmin 1.0vmin;	margin: 1.0vmin auto 1.0vmin auto;
	font-size: min(4.48vmax, 36.00px);
	font-family: Courier New;
	font-style: italic;
	font-weight: 700;
	background-color: #202020;
	color: #f0f0f0;
	border-radius: 4.5vmin;
}
.gameImage {
	position: relative;
	display: block;
	max-width: 40vw;
	text-align: center;	padding: 1.0vmin 1.0vmin 1.0vmin 1.0vmin;	margin: 1.0vmin auto 1.0vmin auto;
	font-size: min(4.48vmax, 36.00px);
	font-family: Courier New;
	font-style: italic;
	font-weight: 700;
	background-color: #202020;
	color: #f0f0f0;
	border-radius: 4.5vmin;
}
.button {
	position: relative;
	display: block;
	max-width: 40vw;
	text-align: center;	padding: 1.0vmin 1.0vmin 1.0vmin 1.0vmin;	margin: 1.0vmin auto 1.0vmin auto;
	font-size: min(4.48vmax, 36.00px);
	font-family: Courier New;
	font-style: italic;
	font-weight: 700;
	background-color: #a0a0a0;
	color: #f0f0f0;
	border-radius: 4.5vmin;
	border: 1.5vmin #e0d0a0 solid;
}
.gameLink {
	position: relative;
	display: inline-block;
	width: 30vw;
	height: 9.1714vw;
	text-align: center;	padding: 1.0vmin 1.0vmin 1.0vmin 1.0vmin;	margin: 1.0vmin auto 1.0vmin auto;
	font-size: min(4.48vmax, 36.00px);
	font-family: Courier New;
	font-style: italic;
	font-weight: 700;
	background-color: #202020;
	color: #a0a0a0;
	border-radius: 4.5vmin;
	border: 1.5vmin #a0a0a0 solid;
}
.gameLink:hover {
	border-color: #e0d0a0
}
.playButton {
	position: relative;
	display: inline-block;
	width: 30vw;
	text-align: center;	padding: 1.0vmin 1.0vmin 1.0vmin 1.0vmin;	margin: 1.0vmin auto 1.0vmin auto;
	font-size: min(4.48vmax, 36.00px);
	font-family: Courier New;
	font-style: italic;
	font-weight: 700;
	background-color: #202020;
	color: #a0a0a0;
}
.noTextDeco {
	text-decoration: none;
}

}

@media (orientation: portrait) {
	
iframe {
	position: relative;
	display: block;
	max-width: 90vw;
	text-align: center;	padding: 1.0vmin 1.0vmin 1.0vmin 1.0vmin;	margin: 1.0vmin auto 1.0vmin auto;
	font-size: min(3.20vmax, 26.00px);
	font-family: Courier New;
	font-style: italic;
	font-weight: 700;
	background-color: #202020;
	color: #a0a0a0;
}
.logoImage {
	position: relative;
	display: block;
	max-width: 80vw;
	text-align: center;	padding: 1.0vmin 1.0vmin 1.0vmin 1.0vmin;	margin: 1.0vmin auto 1.0vmin auto;
	font-size: min(4.48vmax, 36.00px);
	font-family: Courier New;
	font-style: italic;
	font-weight: 700;
	background-color: #202020;
	color: #a0a0a0;
}
.logoImageSmall {
	position: relative;
	display: block;
	max-width: 40vw;
	text-align: center;	padding: 1.0vmin 1.0vmin 1.0vmin 1.0vmin;	margin: 1.0vmin auto 1.0vmin auto;
	font-size: min(4.48vmax, 36.00px);
	font-family: Courier New;
	font-style: italic;
	font-weight: 700;
	background-color: #202020;
	color: #a0a0a0;
}
.profileImage {
	position: relative;
	display: block;
	max-width: 40vw;
	text-align: center;	padding: 1.0vmin 1.0vmin 1.0vmin 1.0vmin;	margin: 1.0vmin auto 1.0vmin auto;
	font-size: min(4.48vmax, 36.00px);
	font-family: Courier New;
	font-style: italic;
	font-weight: 700;
	background-color: #202020;
	color: #f0f0f0;
	border-radius: 4.5vmin;
}
.figureImage {
	position: relative;
	display: block;
	max-width: 90vw;
	text-align: center;	padding: 1.0vmin 1.0vmin 1.0vmin 1.0vmin;	margin: 1.0vmin auto 1.0vmin auto;
	font-size: min(4.48vmax, 36.00px);
	font-family: Courier New;
	font-style: italic;
	font-weight: 700;
	background-color: #202020;
	color: #f0f0f0;
	border-radius: 4.5vmin;
}
.gameImage {
	position: relative;
	display: block;
	max-width: 90vw;
	text-align: center;	padding: 1.0vmin 1.0vmin 1.0vmin 1.0vmin;	margin: 1.0vmin auto 1.0vmin auto;
	font-size: min(4.48vmax, 36.00px);
	font-family: Courier New;
	font-style: italic;
	font-weight: 700;
	background-color: #202020;
	color: #f0f0f0;
	border-radius: 4.5vmin;
}
.button {
	position: relative;
	display: block;
	max-width: 90vw;
	text-align: center;	padding: 1.0vmin 1.0vmin 1.0vmin 1.0vmin;	margin: 1.0vmin auto 1.0vmin auto;
	font-size: min(4.48vmax, 36.00px);
	font-family: Courier New;
	font-style: italic;
	font-weight: 700;
	background-color: #a0a0a0;
	color: #f0f0f0;
	border-radius: 4.5vmin;
	border: 1.5vmin #e0d0a0 solid;
}
.gameLink {
	position: relative;
	display: block;
	width: 80vw;
	height: 24.4571vw;
	text-align: center;	padding: 1.0vmin 1.0vmin 1.0vmin 1.0vmin;	margin: 1.0vmin auto 1.0vmin auto;
	font-size: min(4.48vmax, 36.00px);
	font-family: Courier New;
	font-style: italic;
	font-weight: 700;
	background-color: #202020;
	color: #a0a0a0;
	border-radius: 4.5vmin;
	border: 1.5vmin #a0a0a0 solid;
}
.gameLink:hover {
	border-color: #e0d0a0
}
.playButton {
	position: relative;
	display: block;
	width: 60vw;
	text-align: center;	padding: 1.0vmin 1.0vmin 1.0vmin 1.0vmin;	margin: 1.0vmin auto 1.0vmin auto;
	font-size: min(4.48vmax, 36.00px);
	font-family: Courier New;
	font-style: italic;
	font-weight: 700;
	background-color: #202020;
	color: #a0a0a0;
}
.noTextDeco {
	text-decoration: none;
}

}