<h1>Featured Articles</h1>
<a class="noTextDeco" href="https://thingspool.net/morsels/page-10.html">
<img class="featureLink" src="https://thingspool.net/feat0.jpg" alt="Games in Prolog">
</a>
<a class="noTextDeco" href="https://thingspool.net/morsels/page-2.html">
<img class="featureLink" src="https://thingspool.net/feat2.jpg" alt="Model of the Mind">
</a>
<a class="noTextDeco" href="https://thingspool.net/morsels/page-1.html">
<img class="featureLink" src="https://thingspool.net/feat1.jpg" alt="Serious Game Design">
</a>
<a class="noTextDeco" href="https://thingspool.net/morsels/page-3.html">
<img class="featureLink" src="https://thingspool.net/feat3.jpg" alt="Thought Simulator">
</a>
<div class="l_spacer"></div>