<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="description" content="ThingsPool is a developer of experimental software and tools.">
<meta name="keywords" content="thingspool, software toys, technical design, computer science, systems engineering, game design, game development">
<meta name="author" content="Youngjin Kang">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta property="og:title" content="ThingsPool"/>
<meta property="og:url" content="https://thingspool.net/"/>
<meta property="og:type" content="article"/>
<meta property="og:site_name" content="ThingsPool"/>
<meta property="og:description" content="ThingsPool is a developer of experimental software and tools."/>
<meta property="og:image" content="https://thingspool.net/share.jpg"/>
<meta property="og:image:alt" content="ThingsPool">
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-JL7KHR7HK8"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());
gtag('config', 'G-JL7KHR7HK8');
</script>
<title>ThingsPool</title>
<link rel="shortcut icon" href="https://thingspool.net/favicon.ico">
<link rel="stylesheet" href="https://thingspool.net/style.css">
<link rel="author" href="https://www.linkedin.com/in/youngjin-kang-55321882">
<link rel="alternate" type="application/atom+xml" href="https://thingspool.net/feed.atom" title="Atom Feed">
<link rel="canonical" href="https://thingspool.net/">
</head>
<body>
<div class="fullscreenBar">
<div class="fullscreenBarLogo">
<img class="fullscreenBarLogoImage" src="https://thingspool.net/logo_light.png" alt="ThingsPool Logo">
</div>
<div class="fullscreenBarMenu">
<a class="noTextDeco fullscreenBarMenuButton <%= (pageName == "index") ? "selected" : "idle" %>" href="https://thingspool.net/">Home</a>
<a class="noTextDeco fullscreenBarMenuButton <%= (pageName == "about") ? "selected" : "idle" %>" href="https://thingspool.net/about.html">About</a>
<a class="noTextDeco fullscreenBarMenuButton <%= (pageName == "arcade") ? "selected" : "idle" %>" href="https://thingspool.net/arcade.html">Games</a>
<a class="noTextDeco fullscreenBarMenuButton <%= (pageName == "library") ? "selected" : "idle" %>" href="https://thingspool.net/library.html">Library</a>
</div>
</div>
<div class="fullscreenPanel">