<h1>About ThingsPool</h1>
<p>ThingsPool is an experimental web community for collaborative research and development in arts, games, and other forms of interactive media. <b style="color: #d02020;">(Note: This site is currently under construction)</b></p>
<div class="m_spacer"></div>
<img class="profileImage" src="<%= envUtil.getRootURL() %>/profile.jpg" alt="Youngjin Kang">
<h1>About Me</h1>
<p>My name is Youngjin, and I am a software engineer with a background in game development. I studied electrical and electronics engineering at the University of Washington, and worked for game companies including Signal Studios (Bothell, WA), Valkyrie Entertainment (Seattle, WA), and Galactic Entertainment (United Kingdom).</p>
<p>ThingsPool is a website I made as a personal project. It started as a simple blog, but it is nowadays undergoing a process of becoming a shared workspace.</p>
<h3>Links</h3>
<p><a href="https://www.linkedin.com/in/youngjin-kang-55321882">LinkedIn</a>&nbsp;&nbsp;<a href="https://github.com/architsch">GitHub</a>&nbsp;&nbsp;<a href="https://www.pacogames.com/developers/thingspool">PacoGames</a></p>