body {
	position: fixed;
	display: block;
	max-width: 100vw;
	max-height: 100vh;
	left: 0vw;
	right: 0vw;
	top: 0vh;
	bottom: 0vh;
	width: 100vw;
	height: 100vh;
	padding: 0 0;
	margin: 0 0;
	font-size: min(1.82vmax, 16.00px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: normal;
	font-weight: 400;
	background-color: #303030;
	color: #c0c0c0;
	text-align: left;
	z-index: 0;
}
::-webkit-scrollbar {
	width: 1.4vw;
	height: 1.4vw;
}
::-webkit-scrollbar-track {
	background: #101010;
}
::-webkit-scrollbar-thumb {
	background: #707070;
	border-radius: 0.7vw;
	border: 0.3vw solid #101010;
}
::-webkit-scrollbar-thumb:hover {
	background: #a0a0a0;
}
p {
	position: relative;
	display: block;
	max-width: 95%;
	padding: 0 0;
	margin: 3vmin 2.25vmin;
	font-size: min(1.82vmax, 16.00px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: normal;
	font-weight: 400;
	background-color: #303030;
	color: #c0c0c0;
}
h3 {
	position: relative;
	display: block;
	max-width: 95%;
	padding: 0 0;
	margin: 3vmin 2.25vmin;
	font-size: min(2.18vmax, 19.20px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: italic;
	font-weight: 800;
	background-color: #303030;
	color: #b0a070;
}
h2 {
	position: relative;
	display: block;
	max-width: 95%;
	padding: 0 0;
	margin: 3vmin 2.25vmin;
	font-size: min(2.62vmax, 23.04px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: italic;
	font-weight: 800;
	background-color: #303030;
	color: #b0a070;
}
h1 {
	position: relative;
	display: block;
	max-width: 95%;
	padding: 0 0;
	margin: 3vmin 2.25vmin;
	font-size: min(3.14vmax, 27.65px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: italic;
	font-weight: 800;
	background-color: #303030;
	color: #d0c090;
}
hr {
	padding: 0 0;
	margin: 1.5vmin 2.25vmin;
	background-color: #303030;
	color: #c0c0c0;
}
a:link {
  color: #a0a0a0;
}
a:visited {
  color: #a0a0a0;
}
a:hover {
  color: #d0c090;
}
a:active {
  color: #a0a0a0;
}

.loadingScreen {
	position: fixed;
	display: block;
	max-width: 100vw;
	max-height: 100vh;
	left: 0vw;
	right: 0vw;
	top: 0vh;
	bottom: 0vh;
	width: 100vw;
	height: 100vh;
	padding: 0 0;
	margin: 0 0;
	z-index: 900;

	.background {
		position: fixed;
	display: block;
	max-width: 100vw;
	max-height: 100vh;
	left: 0vw;
	right: 0vw;
	top: 0vh;
	bottom: 0vh;
	width: 100vw;
	height: 100vh;
		padding: 0 0;
	margin: 0 0;
		background-color: #000000;
	color: #c0c0c0;
	opacity: 0.5;
	}
	.text {
		position: absolute;
		min-width: 50%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: min(3.77vmax, 33.18px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: italic;
	font-weight: 800;
		padding: 3vmin 2.25vmin;
	margin: 3vmin 2.25vmin;
		background-color: #a0a0a0;
	color: #303030;
	border-radius: 4.5vmin;
	border-bottom: 1.25vmin #707070 solid;
	border-right: 1.25vmin #707070 solid;
		text-align: center;
		z-index: 901;
	}
}
.dim {
	background-color: #303030;
	color: #707070;
}
.snippet {
	position: relative;
	display: inline-block;
	width: 90vw;
	width: auto;
	padding: 3vmin 2.25vmin;
	margin: 3vmin 2.25vmin;
	font-size: min(1.82vmax, 16.00px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: normal;
	font-weight: 800;
	background-color: #101010;
	color: #70c060;
	border-radius: 4.5vmin;
	overflow: auto;
	white-space: nowrap;
}
.excerpt {
	position: relative;
	display: inline-block;
	width: 90vw;
	padding: 2.25vmin 2.25vmin;
	margin: 2.25vmin 2.25vmin;
	font-size: min(1.82vmax, 16.00px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: italic;
	font-weight: 400;
	background-color: #101010;
	color: #70c060;
	border-radius: 4.5vmin;
	overflow: auto;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}
.banner {
	position: relative;
	display: block;
	max-width: 95%;
	padding: 3vmin 2.25vmin;
	margin: 3vmin 2.25vmin;
	font-size: min(2.62vmax, 23.04px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: italic;
	font-weight: 800;
	background-color: #a0a0a0;
	color: #303030;
	border-radius: 4.5vmin;
}
.zero_spacer {
	position: relative;
	display: block;
	max-width: 1%;
	padding: 0 0;
	margin: 0 0;
	opacity: 0;
}
.s_spacer {
	position: relative;
	display: block;
	max-width: 1%;
	padding: 0.75vmin 2.25vmin;
	margin: 0.75vmin 2.25vmin;
	opacity: 0;
}
.m_spacer {
	position: relative;
	display: block;
	max-width: 1%;
	padding: 1.5vmin 2.25vmin;
	margin: 1.5vmin 2.25vmin;
	opacity: 0;
}
.l_spacer {
	position: relative;
	display: block;
	max-width: 1%;
	padding: 2.25vmin 2.25vmin;
	margin: 2.25vmin 2.25vmin;
	opacity: 0;
}
.xl_spacer {
	position: relative;
	display: block;
	max-width: 1%;
	padding: 3vmin 2.25vmin;
	margin: 3vmin 2.25vmin;
	opacity: 0;
}
.listEntry {
	position: relative;
	display: block;
	max-width: none;
	width: fit-content;
	block-size: fit-content;
	padding: 1.5vmin 2.25vmin;
	margin: 1.5vmin 2.25vmin;
	font-size: min(1.82vmax, 16.00px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: normal;
	font-weight: 800;
	background-color: #101010;
	color: #a0a0a0;
	border-radius: 4.5vmin;
	border-bottom: 0.5vmin #707070 solid;
	border-right: 0.5vmin #707070 solid;
	text-decoration: none;
}

@media (orientation: landscape) {
	
iframe {
	position: relative;
	display: block;
	max-width: 95%;
	padding: 0 0;
	margin: 1.5vmin 2.25vmin;
	font-size: min(2.62vmax, 23.04px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: italic;
	font-weight: 800;
	background-color: #303030;
	color: #a0a0a0;
}
.fullscreenBar {
	position: fixed;
	display: block;
	max-width: 100vw;
	max-height: 100vh;
	left: 0vw;
	right: 86vw;
	top: 0vh;
	bottom: 0vh;
	width: 14vw;
	height: 100vh;
	padding: 0 0;
	margin: 0 0;
	font-size: min(2.18vmax, 19.20px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: italic;
	font-weight: 800;
	background-color: #a0a0a0;
	color: #303030;
	text-align: center;
	z-index: 1;
	overflow: hidden;
}
.fullscreenPanel {
	position: fixed;
	display: block;
	max-width: 100vw;
	max-height: 100vh;
	left: 14vw;
	right: 1.5vw;
	top: 0vh;
	bottom: 0vh;
	width: calc(84.5% - 1.5vw);
	height: 100vh;
	padding: 3vmin 2.25vmin;
	margin: 0 0;
	font-size: min(2.62vmax, 23.04px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: italic;
	font-weight: 800;
	background-color: #303030;
	color: #a0a0a0;
	overflow-y: scroll;
}
.fullscreenBarLogo {
	position: absolute;
	display: block;
	max-width: 100%;
	max-height: 100%;
	left: 0%;
	right: 0%;
	top: 0%;
	bottom: 86%;
	width: 100%;
	height: 14%;
}
.fullscreenBarLogoImage {
	position: relative;
	display: block;
	max-width: 80%;
	max-height: 70%;
	margin: auto;
  	top: 50%;
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
}
.fullscreenBarMenu {
	position: absolute;
	display: block;
	max-width: 100%;
	max-height: 100%;
	left: 0%;
	right: 0%;
	top: 14%;
	bottom: 0%;
	width: 100%;
	height: 80%;
}
.fullscreenBarMenuButton {
	position: relative;
	display: block;
	width: 100%;
	max-height: 100%;
	padding: 1.5vmin 2.25vmin;
	margin: 0 0;
	box-sizing: border-box;
}
.fullscreenBarMenuButton.idle {
	background-color: #a0a0a0;
	color: #303030;
}
.fullscreenBarMenuButton.selected {
	background-color: #303030;
	color: #a0a0a0;
}
.fullscreenBarMenuButton.idle:hover {
	color: #d0c090;
}
.fullscreenBarMenuButton.selected:hover {
	color: #d0c090;
}
.logoImage {
	position: relative;
	display: block;
	max-width: 45%;
	padding: 0 0;
	margin: 1.5vmin 2.25vmin;
	font-size: min(3.14vmax, 27.65px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: italic;
	font-weight: 800;
	background-color: #303030;
	color: #a0a0a0;
}
.logoImageSmall {
	position: relative;
	display: block;
	max-width: 20%;
	padding: 0 0;
	margin: 1.5vmin 2.25vmin;
	font-size: min(3.14vmax, 27.65px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: italic;
	font-weight: 800;
	background-color: #303030;
	color: #a0a0a0;
}
.profileImage {
	position: relative;
	display: block;
	max-width: 29%;
	padding: 0 0;
	margin: 1.5vmin 2.25vmin;
	font-size: min(3.14vmax, 27.65px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: italic;
	font-weight: 800;
	background-color: #303030;
	color: #c0c0c0;
	border-radius: 4.5vmin;
}
.figureImage {
	position: relative;
	display: block;
	max-width: 45%;
	padding: 0 0;
	margin: 1.5vmin 2.25vmin;
	font-size: min(3.14vmax, 27.65px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: italic;
	font-weight: 800;
	background-color: #303030;
	color: #c0c0c0;
	border-radius: 4.5vmin;
}
.gameImage {
	position: relative;
	display: block;
	max-width: 45%;
	padding: 0 0;
	margin: 1.5vmin 2.25vmin;
	font-size: min(3.14vmax, 27.65px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: italic;
	font-weight: 800;
	background-color: #303030;
	color: #c0c0c0;
	border-radius: 4.5vmin;
}
.button {
	position: relative;
	display: block;
	max-width: 45%;
	padding: 0 0;
	margin: 1.5vmin 2.25vmin;
	font-size: min(3.14vmax, 27.65px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: italic;
	font-weight: 800;
	background-color: #a0a0a0;
	color: #c0c0c0;
	border-radius: 4.5vmin;
	border-bottom: 1.25vmin #d0c090 solid;
	border-right: 1.25vmin #d0c090 solid;
}
.gameLink {
	position: relative;
	display: inline-block;
	width: 20vw;
	height: 6.1143vw;
	padding: 0 0;
	margin: 1.5vmin 2.25vmin;
	font-size: min(3.14vmax, 27.65px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: italic;
	font-weight: 800;
	background-color: #303030;
	color: #a0a0a0;
	border-radius: 4.5vmin;
	border-bottom: 1.25vmin #a0a0a0 solid;
	border-right: 1.25vmin #a0a0a0 solid;
}
.gameLink:hover {
	border-color: #d0c090;
}
.featureLink {
	position: relative;
	display: inline-block;
	width: 15vw;
	height: 8.5710vw;
	padding: 0 0;
	margin: 1.5vmin 2.25vmin;
	font-size: min(3.14vmax, 27.65px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: italic;
	font-weight: 800;
	background-color: #303030;
	color: #a0a0a0;
	border-radius: 4.5vmin;
	border-bottom: 1.25vmin #a0a0a0 solid;
	border-right: 1.25vmin #a0a0a0 solid;
}
.featureLink:hover {
	border-color: #d0c090;
}
.playButton {
	position: relative;
	display: inline-block;
	width: 20vw;
	padding: 0 0;
	margin: 1.5vmin 2.25vmin;
	font-size: min(3.14vmax, 27.65px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: italic;
	font-weight: 800;
	background-color: #303030;
	color: #a0a0a0;
}
.noTextDeco {
	text-decoration: none;
}
.pagePath {
	padding: 0 0;
	margin: 0.75vmin 2.25vmin;
	font-size: min(1.82vmax, 16.00px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: normal;
	font-weight: 400;
}
.textInput {
	position: relative;
	display: inline-block;
	max-width: 29%;
	padding: 0.75vmin 2.25vmin;
	margin: 0.75vmin 2.25vmin;
	font-size: min(1.82vmax, 16.00px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: normal;
	font-weight: 400;
	background-color: #707070;
	color: #c0c0c0;
	border-radius: 4.5vmin;
	border-bottom: 0.25vmin #a0a0a0 solid;
	border-right: 0.25vmin #a0a0a0 solid;
}
.textInputLabel {
	position: relative;
	display: inline-block;
	max-width: none;
	width: fit-content;
	block-size: fit-content;
	padding: 0 0;
	margin: 0.75vmin 2.25vmin;
	font-size: min(1.82vmax, 16.00px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: normal;
	font-weight: 400;
	background-color: #303030;
	color: #a0a0a0;
}
.inlineButton {
	position: relative;
	display: inline-block;
	max-width: none;
	width: fit-content;
	block-size: fit-content;
	padding: 0.75vmin 2.25vmin;
	margin: 0.75vmin 2.25vmin;
	font-size: min(1.82vmax, 16.00px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: normal;
	font-weight: 400;
	background-color: #101010;
	color: #a0a0a0;
	border-radius: 4.5vmin;
	border-bottom: 0.5vmin #707070 solid;
	border-right: 0.5vmin #707070 solid;
	text-decoration: none;
}
.inlineButton:hover {
	color: #d0c090;
	cursor: pointer;
}

}

@media (orientation: portrait) {
	
iframe {
	position: relative;
	display: block;
	max-width: 95%;
	padding: 0 0;
	margin: 1.5vmin 2.25vmin;
	font-size: min(2.62vmax, 23.04px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: italic;
	font-weight: 800;
	background-color: #303030;
	color: #a0a0a0;
}
.fullscreenBar {
	position: fixed;
	display: block;
	max-width: 100vw;
	max-height: 100vh;
	left: 0vw;
	right: 0vw;
	top: 0vh;
	bottom: 88vh;
	width: 100vw;
	height: 12vh;
	padding: 0 0;
	margin: 0 0;
	font-size: min(2.18vmax, 19.20px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: italic;
	font-weight: 800;
	background-color: #a0a0a0;
	color: #303030;
	text-align: center;
	z-index: 1;
	overflow: hidden;
}
.fullscreenPanel {
	position: fixed;
	display: block;
	max-width: 100vw;
	max-height: 100vh;
	left: 0vw;
	right: 1.5vw;
	top: 12vh;
	bottom: 0vh;
	width: calc(98.5% - 1.5vw);
	height: 88vh;
	padding: 3vmin 2.25vmin;
	margin: 0 0;
	font-size: min(2.62vmax, 23.04px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: italic;
	font-weight: 800;
	background-color: #303030;
	color: #a0a0a0;
	overflow-y: scroll;
}
.fullscreenBarLogo {
	position: absolute;
	display: block;
	max-width: 100%;
	max-height: 100%;
	left: 0%;
	right: 0%;
	top: 0%;
	bottom: 35%;
	width: 100%;
	height: 65%;
}
.fullscreenBarLogoImage {
	position: relative;
	display: block;
	max-width: 80%;
	max-height: 70%;
	margin: auto;
  	top: 50%;
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
}
.fullscreenBarMenu {
	position: absolute;
	display: block;
	max-width: 100%;
	max-height: 100%;
	left: 0%;
	right: 0%;
	top: 65%;
	bottom: 0%;
	width: 100%;
	height: 35%;
}
.fullscreenBarMenuButton {
	position: relative;
	display: inline-block;
	top: 100%; -ms-transform: translateY(-100%); transform: translateY(-100%);
	max-height: 100%;
	padding: 1.5vmin 2.25vmin;
	margin: 0 0;
	box-sizing: border-box;
}
.fullscreenBarMenuButton.idle {
	background-color: #a0a0a0;
	color: #303030;
}
.fullscreenBarMenuButton.selected {
	background-color: #303030;
	color: #a0a0a0;
}
.fullscreenBarMenuButton.idle:hover {
	color: #d0c090;
}
.fullscreenBarMenuButton.selected:hover {
	color: #d0c090;
}
.logoImage {
	position: relative;
	display: block;
	max-width: 85%;
	padding: 0 0;
	margin: 1.5vmin 2.25vmin;
	font-size: min(3.14vmax, 27.65px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: italic;
	font-weight: 800;
	background-color: #303030;
	color: #a0a0a0;
}
.logoImageSmall {
	position: relative;
	display: block;
	max-width: 45%;
	padding: 0 0;
	margin: 1.5vmin 2.25vmin;
	font-size: min(3.14vmax, 27.65px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: italic;
	font-weight: 800;
	background-color: #303030;
	color: #a0a0a0;
}
.profileImage {
	position: relative;
	display: block;
	max-width: 45%;
	padding: 0 0;
	margin: 1.5vmin 2.25vmin;
	font-size: min(3.14vmax, 27.65px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: italic;
	font-weight: 800;
	background-color: #303030;
	color: #c0c0c0;
	border-radius: 4.5vmin;
}
.figureImage {
	position: relative;
	display: block;
	max-width: 85%;
	padding: 0 0;
	margin: 1.5vmin 2.25vmin;
	font-size: min(3.14vmax, 27.65px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: italic;
	font-weight: 800;
	background-color: #303030;
	color: #c0c0c0;
	border-radius: 4.5vmin;
}
.gameImage {
	position: relative;
	display: block;
	max-width: 85%;
	padding: 0 0;
	margin: 1.5vmin 2.25vmin;
	font-size: min(3.14vmax, 27.65px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: italic;
	font-weight: 800;
	background-color: #303030;
	color: #c0c0c0;
	border-radius: 4.5vmin;
}
.button {
	position: relative;
	display: block;
	max-width: 95%;
	padding: 0 0;
	margin: 1.5vmin 2.25vmin;
	font-size: min(3.14vmax, 27.65px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: italic;
	font-weight: 800;
	background-color: #a0a0a0;
	color: #c0c0c0;
	border-radius: 4.5vmin;
	border-bottom: 1.25vmin #d0c090 solid;
	border-right: 1.25vmin #d0c090 solid;
}
.gameLink {
	position: relative;
	display: inline-block;
	width: 80vw;
	height: 24.4572vw;
	padding: 0 0;
	margin: 1.5vmin 2.25vmin;
	font-size: min(3.14vmax, 27.65px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: italic;
	font-weight: 800;
	background-color: #303030;
	color: #a0a0a0;
	border-radius: 4.5vmin;
	border-bottom: 1.25vmin #a0a0a0 solid;
	border-right: 1.25vmin #a0a0a0 solid;
}
.gameLink:hover {
	border-color: #d0c090;
}
.featureLink {
	position: relative;
	display: inline-block;
	width: 40vw;
	height: 22.8560vw;
	padding: 0 0;
	margin: 1.5vmin 2.25vmin;
	font-size: min(3.14vmax, 27.65px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: italic;
	font-weight: 800;
	background-color: #303030;
	color: #a0a0a0;
	border-radius: 4.5vmin;
	border-bottom: 1.25vmin #a0a0a0 solid;
	border-right: 1.25vmin #a0a0a0 solid;
}
.featureLink:hover {
	border-color: #d0c090;
}
.playButton {
	position: relative;
	display: block;
	width: 40vw;
	padding: 0 0;
	margin: 1.5vmin 2.25vmin;
	font-size: min(3.14vmax, 27.65px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: italic;
	font-weight: 800;
	background-color: #303030;
	color: #a0a0a0;
}
.noTextDeco {
	text-decoration: none;
}
.pagePath {
	padding: 0 0;
	margin: 0.75vmin 2.25vmin;
	font-size: min(1.82vmax, 16.00px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: normal;
	font-weight: 400;
}
.textInput {
	position: relative;
	display: block;
	max-width: 85%;
	padding: 1.5vmin 2.25vmin;
	margin: 1.5vmin 2.25vmin;
	font-size: min(2.18vmax, 19.20px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: italic;
	font-weight: 400;
	background-color: #707070;
	color: #c0c0c0;
	border-radius: 4.5vmin;
	border-bottom: 0.25vmin #a0a0a0 solid;
	border-right: 0.25vmin #a0a0a0 solid;
}
.textInputLabel {
	position: relative;
	display: block;
	max-width: none;
	width: fit-content;
	block-size: fit-content;
	padding: 0 0;
	margin: 1.5vmin 2.25vmin;
	font-size: min(2.18vmax, 19.20px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: italic;
	font-weight: 400;
	background-color: #303030;
	color: #a0a0a0;
}
.inlineButton {
	position: relative;
	display: inline-block;
	max-width: none;
	width: fit-content;
	block-size: fit-content;
	padding: 1.5vmin 2.25vmin;
	margin: 1.5vmin 2.25vmin;
	font-size: min(2.18vmax, 19.20px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: italic;
	font-weight: 400;
	background-color: #101010;
	color: #a0a0a0;
	border-radius: 4.5vmin;
	border-bottom: 0.5vmin #707070 solid;
	border-right: 0.5vmin #707070 solid;
	text-decoration: none;
}
.inlineButton:hover {
	color: #d0c090;
	cursor: pointer;
}

}