body {
	position: fixed;
	display: block;
	left: 0vw;
	right: 0vw;
	top: 0vh;
	bottom: 0vh;
	width: 100vw;
	height: 100vh;
	padding: 0 0;
	margin: 0 0;
	font-size: min(1.82vmax, 16.00px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: normal;
	font-weight: 400;
	background-color: #202020;
	color: #e0e0e0;
	text-align: left;
	z-index: 0;
}
p {
	position: relative;
	display: block;
	max-width: 95%;
	padding: 1.5vmin 1.5vmin;
	margin: 1.5vmin 1.5vmin;
	font-size: min(1.82vmax, 16.00px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: normal;
	font-weight: 400;
	background-color: #202020;
	color: #e0e0e0;
}
h3 {
	position: relative;
	display: block;
	max-width: 95%;
	padding: 1.0vmin 1.0vmin;
	margin: 1.0vmin 1.0vmin;
	font-size: min(2.18vmax, 19.20px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: italic;
	font-weight: 700;
	background-color: #202020;
	color: #e0e0e0;
}
h2 {
	position: relative;
	display: block;
	max-width: 95%;
	padding: 1.5vmin 1.5vmin;
	margin: 1.5vmin 1.5vmin;
	font-size: min(2.62vmax, 23.04px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: italic;
	font-weight: 700;
	background-color: #202020;
	color: #a0a0a0;
}
h1 {
	position: relative;
	display: block;
	max-width: 95%;
	padding: 1.5vmin 1.5vmin;
	margin: 1.5vmin 1.5vmin;
	font-size: min(3.14vmax, 27.65px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: italic;
	font-weight: 700;
	background-color: #202020;
	color: #e0d0a0;
}
a:link {
  color: #a0a0a0;
}
a:visited {
  color: #a0a0a0;
}
a:hover {
  color: #e0d0a0;
}
a:active {
  color: #a0a0a0;
}
footer {
	position: relative;
	display: block;
	max-width: 95%;
	padding: 1.5vmin 1.5vmin;
	margin: 1.5vmin 1.5vmin;
	font-size: min(2.18vmax, 19.20px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: italic;
	font-weight: 700;
	background-color: #202020;
	color: #707070;
}

.snippet {
	position: relative;
	display: inline-block;
	width: 90vw;
	width: auto;
	padding: 2.0vmin 2.0vmin;
	margin: 2.0vmin 2.0vmin;
	font-size: min(1.82vmax, 16.00px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: normal;
	font-weight: 700;
	background-color: #000000;
	color: #80d070;
	border-radius: 4.5vmin;
	overflow: auto;
	white-space: nowrap;
}
.excerpt {
	position: relative;
	display: inline-block;
	width: 90vw;
	padding: 1.5vmin 1.5vmin;
	margin: 1.5vmin 1.5vmin;
	font-size: min(1.82vmax, 16.00px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: italic;
	font-weight: 400;
	background-color: #000000;
	color: #80d070;
	border-radius: 4.5vmin;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}
.banner {
	position: relative;
	display: block;
	max-width: 95%;
	padding: 2.0vmin 2.0vmin;
	margin: 2.0vmin 2.0vmin;
	font-size: min(2.62vmax, 23.04px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: italic;
	font-weight: 700;
	background-color: #a0a0a0;
	color: #202020;
	border-radius: 4.5vmin;
}
.s_spacer {
	position: relative;
	display: block;
	max-width: 95%;
	padding: 0.5vmin 0.5vmin;
	margin: 0.5vmin 0.5vmin;
	background-color: #202020;
	color: #a0a0a0;
}
.m_spacer {
	position: relative;
	display: block;
	max-width: 95%;
	padding: 1.0vmin 1.0vmin;
	margin: 1.0vmin 1.0vmin;
	background-color: #202020;
	color: #a0a0a0;
}
.l_spacer {
	position: relative;
	display: block;
	max-width: 95%;
	padding: 1.5vmin 1.5vmin;
	margin: 1.5vmin 1.5vmin;
	background-color: #202020;
	color: #a0a0a0;
}
.xl_spacer {
	position: relative;
	display: block;
	max-width: 95%;
	padding: 2.0vmin 2.0vmin;
	margin: 2.0vmin 2.0vmin;
	background-color: #202020;
	color: #a0a0a0;
}
.listEntry {
	position: relative;
	display: block;
	max-width: none;
	width: fit-content;
	block-size: fit-content;
	padding: 1.0vmin 3.0vmin;
	margin: 1.0vmin 3.0vmin;
	font-size: min(1.82vmax, 16.00px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: normal;
	font-weight: 700;
	background-color: #000000;
	color: #a0a0a0;
	border-radius: 4.5vmin;
	border-bottom: 0.5vmin #707070 solid;
	border-right: 0.5vmin #707070 solid;
	text-decoration: none;
}
.homeButton {
	position: relative;
	display: block;
	max-width: none;
	width: fit-content;
	block-size: fit-content;
	padding: 1.0vmin 3.0vmin;
	margin: 1.0vmin 3.0vmin;
	font-size: min(2.18vmax, 19.20px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: italic;
	font-weight: 700;
	background-color: #000000;
	color: #a0a0a0;
	border-radius: 4.5vmin;
	border-bottom: 0.5vmin #707070 solid;
	border-right: 0.5vmin #707070 solid;
	text-decoration: none;
}

@media (orientation: landscape) {
	
iframe {
	position: relative;
	display: block;
	max-width: 95%;
	padding: 1.0vmin 1.0vmin;
	margin: 1.0vmin 1.0vmin;
	font-size: min(2.62vmax, 23.04px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: italic;
	font-weight: 700;
	background-color: #202020;
	color: #a0a0a0;
}
.fullscreenBarLogo {
	background-color: #202020;
	color: #a0a0a0;
}
.fullscreenBar {
	position: fixed;
	display: block;
	left: 0vw;
	right: 86vw;
	top: 0vh;
	bottom: 0vh;
	width: 14vw;
	height: 100vh;
	padding: 0 0;
	margin: 0 0;
	font-size: min(2.18vmax, 19.20px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: italic;
	font-weight: 700;
	background-color: #a0a0a0;
	color: #202020;
	text-align: center;
	z-index: 1;
}
.fullscreenPanel {
	position: fixed;
	display: block;
	left: 14vw;
	right: 0vw;
	top: 0vh;
	bottom: 0vh;
	width: 86vw;
	height: 100vh;
	padding: 2.5vmin 2.5vmin;
	margin: 0 0;
	font-size: min(2.62vmax, 23.04px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: italic;
	font-weight: 700;
	background-color: #202020;
	color: #a0a0a0;
	overflow-y: scroll;
}
.fullscreenBarMenuButton {
	display: block;
	width: 100%;
	padding: 1.0vmin 1.0vmin;
	margin: 0 0;
	box-sizing: border-box;
}
.fullscreenBarMenuButton:hover {
	color: #e0d0a0;
}
.fullscreenBarMenuButton.idle {
	background-color: #a0a0a0;
	color: #202020;
}
.fullscreenBarMenuButton.selected {
	background-color: #202020;
	color: #a0a0a0;
}
.logoImage {
	position: relative;
	display: block;
	max-width: 47%;
	padding: 1.0vmin 1.0vmin;
	margin: 1.0vmin 1.0vmin;
	font-size: min(3.14vmax, 27.65px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: italic;
	font-weight: 700;
	background-color: #202020;
	color: #a0a0a0;
}
.logoImageSmall {
	position: relative;
	display: block;
	max-width: 32%;
	padding: 1.0vmin 1.0vmin;
	margin: 1.0vmin 1.0vmin;
	font-size: min(3.14vmax, 27.65px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: italic;
	font-weight: 700;
	background-color: #202020;
	color: #a0a0a0;
}
.profileImage {
	position: relative;
	display: block;
	max-width: 32%;
	padding: 1.0vmin 1.0vmin;
	margin: 1.0vmin 1.0vmin;
	font-size: min(3.14vmax, 27.65px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: italic;
	font-weight: 700;
	background-color: #202020;
	color: #e0e0e0;
	border-radius: 4.5vmin;
}
.figureImage {
	position: relative;
	display: block;
	max-width: 47%;
	padding: 1.0vmin 1.0vmin;
	margin: 1.0vmin 1.0vmin;
	font-size: min(3.14vmax, 27.65px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: italic;
	font-weight: 700;
	background-color: #202020;
	color: #e0e0e0;
	border-radius: 4.5vmin;
}
.gameImage {
	position: relative;
	display: block;
	max-width: 47%;
	padding: 1.0vmin 1.0vmin;
	margin: 1.0vmin 1.0vmin;
	font-size: min(3.14vmax, 27.65px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: italic;
	font-weight: 700;
	background-color: #202020;
	color: #e0e0e0;
	border-radius: 4.5vmin;
}
.button {
	position: relative;
	display: block;
	max-width: 47%;
	padding: 1.0vmin 1.0vmin;
	margin: 1.0vmin 1.0vmin;
	font-size: min(3.14vmax, 27.65px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: italic;
	font-weight: 700;
	background-color: #a0a0a0;
	color: #e0e0e0;
	border-radius: 4.5vmin;
	border-bottom: 1.25vmin #e0d0a0 solid;
	border-right: 1.25vmin #e0d0a0 solid;
}
.gameLink {
	position: relative;
	display: inline-block;
	width: 20vw;
	height: 6.1143vw;
	padding: 1.0vmin 1.0vmin;
	margin: 1.0vmin 1.0vmin;
	font-size: min(3.14vmax, 27.65px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: italic;
	font-weight: 700;
	background-color: #202020;
	color: #a0a0a0;
	border-radius: 4.5vmin;
	border-bottom: 1.25vmin #a0a0a0 solid;
	border-right: 1.25vmin #a0a0a0 solid;
}
.gameLink:hover {
	border-color: #e0d0a0;
}
.featureLink {
	position: relative;
	display: inline-block;
	width: 15vw;
	height: 8.5710vw;
	padding: 1.0vmin 1.0vmin;
	margin: 1.0vmin 1.0vmin;
	font-size: min(3.14vmax, 27.65px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: italic;
	font-weight: 700;
	background-color: #202020;
	color: #a0a0a0;
	border-radius: 4.5vmin;
	border-bottom: 1.25vmin #a0a0a0 solid;
	border-right: 1.25vmin #a0a0a0 solid;
}
.featureLink:hover {
	border-color: #e0d0a0;
}
.playButton {
	position: relative;
	display: inline-block;
	width: 30vw;
	padding: 1.0vmin 1.0vmin;
	margin: 1.0vmin 1.0vmin;
	font-size: min(3.14vmax, 27.65px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: italic;
	font-weight: 700;
	background-color: #202020;
	color: #a0a0a0;
}
.noTextDeco {
	text-decoration: none;
}

}

@media (orientation: portrait) {
	
iframe {
	position: relative;
	display: block;
	max-width: 95%;
	padding: 1.0vmin 1.0vmin;
	margin: 1.0vmin 1.0vmin;
	font-size: min(2.62vmax, 23.04px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: italic;
	font-weight: 700;
	background-color: #202020;
	color: #a0a0a0;
}
.fullscreenBarLogo {
	background-color: #202020;
	color: #a0a0a0;
}
.fullscreenBar {
	position: fixed;
	display: block;
	left: 0vw;
	right: 0vw;
	top: 0vh;
	bottom: 95vh;
	width: 100vw;
	height: 5vh;
	padding: 0 0;
	margin: 0 0;
	font-size: min(2.18vmax, 19.20px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: italic;
	font-weight: 700;
	background-color: #a0a0a0;
	color: #202020;
	text-align: center;
	z-index: 1;
}
.fullscreenPanel {
	position: fixed;
	display: block;
	left: 0vw;
	right: 0vw;
	top: 5vh;
	bottom: 0vh;
	width: 100vw;
	height: 95vh;
	padding: 2.5vmin 2.5vmin;
	margin: 0 0;
	font-size: min(2.62vmax, 23.04px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: italic;
	font-weight: 700;
	background-color: #202020;
	color: #a0a0a0;
	overflow-y: scroll;
}
.fullscreenBarMenuButton {
	display: inline-block;
	height: 100%;
	padding: 1.0vmin 1.0vmin;
	margin: 0 0;
	box-sizing: border-box;
}
.fullscreenBarMenuButton:hover {
	color: #e0d0a0;
}
.fullscreenBarMenuButton.idle {
	background-color: #a0a0a0;
	color: #202020;
}
.fullscreenBarMenuButton.selected {
	background-color: #202020;
	color: #a0a0a0;
}
.logoImage {
	position: relative;
	display: block;
	max-width: 85%;
	padding: 1.0vmin 1.0vmin;
	margin: 1.0vmin 1.0vmin;
	font-size: min(3.14vmax, 27.65px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: italic;
	font-weight: 700;
	background-color: #202020;
	color: #a0a0a0;
}
.logoImageSmall {
	position: relative;
	display: block;
	max-width: 65%;
	padding: 1.0vmin 1.0vmin;
	margin: 1.0vmin 1.0vmin;
	font-size: min(3.14vmax, 27.65px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: italic;
	font-weight: 700;
	background-color: #202020;
	color: #a0a0a0;
}
.profileImage {
	position: relative;
	display: block;
	max-width: 47%;
	padding: 1.0vmin 1.0vmin;
	margin: 1.0vmin 1.0vmin;
	font-size: min(3.14vmax, 27.65px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: italic;
	font-weight: 700;
	background-color: #202020;
	color: #e0e0e0;
	border-radius: 4.5vmin;
}
.figureImage {
	position: relative;
	display: block;
	max-width: 95%;
	padding: 1.0vmin 1.0vmin;
	margin: 1.0vmin 1.0vmin;
	font-size: min(3.14vmax, 27.65px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: italic;
	font-weight: 700;
	background-color: #202020;
	color: #e0e0e0;
	border-radius: 4.5vmin;
}
.gameImage {
	position: relative;
	display: block;
	max-width: 95%;
	padding: 1.0vmin 1.0vmin;
	margin: 1.0vmin 1.0vmin;
	font-size: min(3.14vmax, 27.65px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: italic;
	font-weight: 700;
	background-color: #202020;
	color: #e0e0e0;
	border-radius: 4.5vmin;
}
.button {
	position: relative;
	display: block;
	max-width: 95%;
	padding: 1.0vmin 1.0vmin;
	margin: 1.0vmin 1.0vmin;
	font-size: min(3.14vmax, 27.65px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: italic;
	font-weight: 700;
	background-color: #a0a0a0;
	color: #e0e0e0;
	border-radius: 4.5vmin;
	border-bottom: 1.25vmin #e0d0a0 solid;
	border-right: 1.25vmin #e0d0a0 solid;
}
.gameLink {
	position: relative;
	display: inline-block;
	width: 40vw;
	height: 12.2286vw;
	padding: 1.0vmin 1.0vmin;
	margin: 1.0vmin 1.0vmin;
	font-size: min(3.14vmax, 27.65px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: italic;
	font-weight: 700;
	background-color: #202020;
	color: #a0a0a0;
	border-radius: 4.5vmin;
	border-bottom: 1.25vmin #a0a0a0 solid;
	border-right: 1.25vmin #a0a0a0 solid;
}
.gameLink:hover {
	border-color: #e0d0a0;
}
.featureLink {
	position: relative;
	display: inline-block;
	width: 40vw;
	height: 22.8560vw;
	padding: 1.0vmin 1.0vmin;
	margin: 1.0vmin 1.0vmin;
	font-size: min(3.14vmax, 27.65px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: italic;
	font-weight: 700;
	background-color: #202020;
	color: #a0a0a0;
	border-radius: 4.5vmin;
	border-bottom: 1.25vmin #a0a0a0 solid;
	border-right: 1.25vmin #a0a0a0 solid;
}
.featureLink:hover {
	border-color: #e0d0a0;
}
.playButton {
	position: relative;
	display: block;
	width: 60vw;
	padding: 1.0vmin 1.0vmin;
	margin: 1.0vmin 1.0vmin;
	font-size: min(3.14vmax, 27.65px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: italic;
	font-weight: 700;
	background-color: #202020;
	color: #a0a0a0;
}
.noTextDeco {
	text-decoration: none;
}

}