* {
	overflow: hidden;
	vertical-align: middle;
}
body {
	position: absolute;
	display: block;
	left: 0%;
	right: 0%;
	top: 0%;
	bottom: 0%;
	width: 100%;
	height: 100%;
	padding: 0 0 0 0; margin: 0 0 0 0;
	font-size: min(1.82vmax, 16.00px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: normal;
	font-weight: 400;
	background-color: #303030;
	color: #c0c0c0;
	text-align: left;
	z-index: 0;
}
a:link {
  color: #a0a0a0;
}
a:visited {
  color: #a0a0a0;
}
a:hover {
  color: #d0c090;
}
a:active {
  color: #a0a0a0;
}
.dim {
	background-color: #303030;
	color: #707070;
}
.noTextDeco {
	text-decoration: none;
}
.horizontallyCentered {
	left: 50%;
	transform: translate(-50%, 0);
}

@media (orientation: landscape) {
	
@supports(-moz-appearance:none) {
	* {
		scrollbar-width: auto;
		scrollbar-color: #707070 #101010;
	}
}
::-webkit-scrollbar {
	width: 17px;
	height: 17px;
}
::-webkit-scrollbar-track {
	background: #101010;
}
::-webkit-scrollbar-thumb {
	background: #707070;
	border-radius: 8px;
	border: 4px solid #101010;
}
::-webkit-scrollbar-thumb:hover {
	background: #a0a0a0;
}
iframe {
	position: relative;
	display: block;
	max-width: 100.00%;
	padding: 0 0 0 0;
	margin: 1.20% 1.00% 1.20% 0;
	font-size: min(2.62vmax, 23.04px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: italic;
	font-weight: 800;
	background-color: #303030;
	color: #a0a0a0;
}
p {
	position: relative;
	display: block;
	max-width: 100.00%;
	padding: 0 0 0 0;
	margin: 2.40% 1.00% 2.40% 0;
	font-size: min(1.82vmax, 16.00px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: normal;
	font-weight: 400;
	background-color: #303030;
	color: #c0c0c0;
}
h3 {
	position: relative;
	display: block;
	max-width: 100.00%;
	padding: 0 0 0 0;
	margin: 2.40% 1.00% 2.40% 0;
	font-size: min(2.18vmax, 19.20px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: italic;
	font-weight: 800;
	background-color: #303030;
	color: #b0a070;
}
h2 {
	position: relative;
	display: block;
	max-width: 100.00%;
	padding: 0 0 0 0;
	margin: 2.40% 1.00% 2.40% 0;
	font-size: min(3.14vmax, 27.65px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: italic;
	font-weight: 800;
	background-color: #303030;
	color: #707070;
}
h1 {
	position: relative;
	display: block;
	max-width: 100.00%;
	padding: 0 0 0 0;
	margin: 2.40% 1.00% 2.40% 0;
	font-size: min(3.77vmax, 33.18px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: italic;
	font-weight: 800;
	background-color: #303030;
	color: #d0c090;
}
hr {
	position: relative;
	display: block;
	max-width: 100.00%;
	padding: 0 0 0 0;
	margin: 1.20% 1.00% 1.20% 0;
	background-color: #303030;
	color: #c0c0c0;
}
.fullscreenBar {
	position: absolute;
	display: block;
	left: 0%;
	right: 86%;
	top: 0%;
	bottom: 0%;
	width: 14%;
	height: 100%;
	padding: 0 0 0 0; margin: 0 0 0 0;
	font-size: min(2.18vmax, 19.20px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: italic;
	font-weight: 800;
	background-color: #a0a0a0;
	color: #303030;
	text-align: center;
	z-index: 1;
	overflow: hidden;
}
.fullscreenPanel {
	position: absolute;
	display: block;
	left: 14%;
	right: 5%;
	top: 0%;
	bottom: 0%;
	width: 81%;
	height: 100%;
	margin: 0 0 0 0;
	padding: 0 2.5% 0 2.5%;
	font-size: min(2.62vmax, 23.04px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: italic;
	font-weight: 800;
	background-color: #303030;
	color: #a0a0a0;
	overflow-y: scroll;
	overflow-x: auto;
}
.fullscreenBarLogo {
	position: absolute;
	display: block;
	left: 0%;
	right: 0%;
	top: 0%;
	bottom: 86%;
	width: 100%;
	height: 14%;
}
.fullscreenBarLogoImage {
	position: relative;
	display: block;
	max-width: 80%;
	max-height: 70%;
	margin: auto;
  	top: 50%;
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
}
.fullscreenBarMenu {
	position: absolute;
	display: block;
	left: 0%;
	right: 0%;
	top: 14%;
	bottom: 0%;
	width: 100%;
	height: 80%;
}
.fullscreenBarMenuButton {
	position: relative;
	display: block;
	width: 100%;
	max-height: 100%;
	padding: 2.40% 1.00% 2.40% 1.00%;
	margin: 0 0 0 0;
	box-sizing: border-box;
	text-decoration: none;
}
.fullscreenBarMenuButton.idle {
	background-color: #a0a0a0;
	color: #303030;
}
.fullscreenBarMenuButton.selected {
	background-color: #303030;
	color: #a0a0a0;
}
.fullscreenBarMenuButton.idle:hover {
	color: #d0c090;
}
.fullscreenBarMenuButton.selected:hover {
	color: #d0c090;
}
.loadingScreen {
	position: absolute;
	display: block;
	left: 0%;
	right: 0%;
	top: 0%;
	bottom: 0%;
	width: 100%;
	height: 100%;
	padding: 0 0 0 0; margin: 0 0 0 0;
	z-index: 900;

	.background {
		position: absolute;
	display: block;
	left: 0%;
	right: 0%;
	top: 0%;
	bottom: 0%;
	width: 100%;
	height: 100%;
		padding: 0 0 0 0; margin: 0 0 0 0;
		background-color: #000000;
	color: #c0c0c0;
	opacity: 0.7;
	}
	.content {
		position: absolute;
		min-width: 50%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: min(3.77vmax, 33.18px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: italic;
	font-weight: 800;
		padding: 2.40% 4.00% 2.40% 4.00%;
	margin: 2.40% 4.00% 2.40% 0;
		background-color: #d0c090;
	color: #303030;
	border-radius: 2vmin;
	border-bottom: 1.25vmin #b0a070 solid;
	border-right: 1.25vmin #b0a070 solid;
		text-align: center;
		z-index: 901;
	}
}
.popupScreen {
	position: absolute;
	display: block;
	left: 0%;
	right: 0%;
	top: 0%;
	bottom: 0%;
	width: 100%;
	height: 100%;
	padding: 0 0 0 0; margin: 0 0 0 0;
	z-index: 500;

	.background {
		position: absolute;
	display: block;
	left: 0%;
	right: 0%;
	top: 0%;
	bottom: 0%;
	width: 100%;
	height: 100%;
		padding: 0 0 0 0; margin: 0 0 0 0;
		background-color: #000000;
	color: #c0c0c0;
	opacity: 0.7;
	}
	.content {
		position: absolute;
		width: 80%;
		width: 80%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: min(1.82vmax, 16.00px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: normal;
	font-weight: 400;
		padding: 1.20% 2.00% 1.20% 2.00%;
	margin: 1.20% 2.00% 1.20% 0;
		background-color: #303030;
	color: #a0a0a0;
	border-radius: 2vmin;
	border-bottom: 1.25vmin #c0c0c0 solid;
	border-right: 1.25vmin #c0c0c0 solid;
		overflow-y: scroll;
		z-index: 501;
	}
}
.s_image {
	position: relative;
	display: inline-block;
	max-width: 23.00%;
	padding: 0 0 0 0;
	margin: 1.20% 1.00% 1.20% 0;
	font-size: min(2.62vmax, 23.04px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: italic;
	font-weight: 800;
	background-color: #303030;
	color: #c0c0c0;
	border-radius: 2vmin;
}
.m_image {
	position: relative;
	display: inline-block;
	max-width: 31.00%;
	padding: 0 0 0 0;
	margin: 1.20% 1.00% 1.20% 0;
	font-size: min(2.62vmax, 23.04px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: italic;
	font-weight: 800;
	background-color: #303030;
	color: #c0c0c0;
	border-radius: 2vmin;
}
.m_linkImage {
	position: relative;
	display: inline-block;
	max-width: 31.00%;
	padding: 0 0 0 0;
	margin: 1.20% 1.00% 1.20% 0;
	font-size: min(2.62vmax, 23.04px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: italic;
	font-weight: 800;
	background-color: #303030;
	color: #a0a0a0;
	border-radius: 2vmin;
	border-bottom: 1.25vmin #a0a0a0 solid;
	border-right: 1.25vmin #a0a0a0 solid;
}
.m_linkImage:hover {
	border-color: #d0c090;
}
.l_image {
	position: relative;
	display: inline-block;
	max-width: 48.00%;
	padding: 0 0 0 0;
	margin: 1.20% 1.00% 1.20% 0;
	font-size: min(2.62vmax, 23.04px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: italic;
	font-weight: 800;
	background-color: #303030;
	color: #c0c0c0;
	border-radius: 2vmin;
}
.portal {
	position: relative;
	display: block;
	margin: 5% 0;
	padding: 0 0;
	max-width: 30%;
}
.postEntryButton {
	position: relative;
	display: block;
	max-width: none;
	width: fit-content;
	block-size: fit-content;
	padding: 0.60% 1.00% 0.60% 1.00%;
	margin: 0.60% 1.00% 0.60% 0;
	font-size: min(1.82vmax, 16.00px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: normal;
	font-weight: 800;
	background-color: #101010;
	color: #a0a0a0;
	border-radius: 2vmin;
	border-bottom: 0.5vmin #707070 solid;
	border-right: 0.5vmin #707070 solid;
	text-decoration: none;
}
.postEntryButton:hover {
	border-color: #d0c090;
}
.bigButton {
	position: relative;
	display: block;
	max-width: none;
	width: fit-content;
	block-size: fit-content;
	padding: 3.60% 6.00% 3.60% 6.00%;
	margin: 3.60% 6.00% 3.60% 0;
	font-size: min(2.18vmax, 19.20px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: italic;
	font-weight: 800;
	background-color: #101010;
	color: #a0a0a0;
	border-radius: 2vmin;
	border-bottom: 0.75vmin #707070 solid;
	border-right: 0.75vmin #707070 solid;
	text-decoration: none;
	text-align: center;
}
.bigButton:hover {
	border-color: #d0c090;
}
.pagePath {
	padding: 0 0 0 0;
	margin: 0.60% 1.00% 0.60% 0;
	font-size: min(1.82vmax, 16.00px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: normal;
	font-weight: 400;
}
.listScrollPanel {
	position: relative;
	display: block;
	width: 100.00%;
	height: 70.00%;
	padding: 0.60% 1.00% 0.60% 1.00%;
	margin: 0.60% 1.00% 0.60% 0;
	background-color: #303030;
	color: #c0c0c0;
	border-radius: 2vmin;
	border: 0.1vmin #707070 solid;
	overflow: auto;
}
.listItem {
	position: relative;
	display: block;
	max-width: none;
	width: fit-content;
	block-size: fit-content;
	padding: 0.60% 1.00% 0.60% 1.00%;
	margin: 0.60% 1.00% 0.60% 0;
	font-size: min(1.82vmax, 16.00px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: normal;
	font-weight: 400;
	background-color: #a0a0a0;
	color: #c0c0c0;
	border-radius: 2vmin;
	border: 0.1vmin #c0c0c0 solid;
	text-decoration: none;
}
.inlineTextInput {
	position: relative;
	display: inline-block;
	max-width: none;
	width: fit-content;
	block-size: fit-content;
	padding: 0.60% 1.00% 0.60% 1.00%;
	margin: 0.60% 1.00% 0.60% 0;
	font-size: min(1.82vmax, 16.00px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: normal;
	font-weight: 400;
	background-color: #707070;
	color: #c0c0c0;
	border-radius: 2vmin;
	border-bottom: 0.25vmin #a0a0a0 solid;
	border-right: 0.25vmin #a0a0a0 solid;
}
.inlineLabel {
	position: relative;
	display: inline-block;
	max-width: none;
	width: fit-content;
	block-size: fit-content;
	padding: 0.60% 1.00% 0.60% 1.00%;
	margin: 0.60% 1.00% 0.60% 0;
	font-size: min(1.82vmax, 16.00px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: normal;
	font-weight: 400;
	background-color: #303030;
	color: #a0a0a0;
}
.inlineButton {
	position: relative;
	display: inline-block;
	max-width: none;
	width: fit-content;
	block-size: fit-content;
	padding: 0.60% 1.00% 0.60% 1.00%;
	margin: 0.60% 1.00% 0.60% 0;
	font-size: min(1.82vmax, 16.00px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: normal;
	font-weight: 400;
	background-color: #101010;
	color: #a0a0a0;
	border-radius: 2vmin;
	border-bottom: 0.5vmin #707070 solid;
	border-right: 0.5vmin #707070 solid;
	text-decoration: none;
}
.inlineButton:hover {
	border-color: #d0c090;
	cursor: pointer;
}
.inlineButton:disabled {
	opacity: 0.25;
	cursor: not-allowed;
}
.inlineTabButton {
	position: relative;
	display: inline-block;
	max-width: none;
	width: fit-content;
	block-size: fit-content;
	padding: 0.60% 1.00% 0.60% 1.00%;
	margin: 0.60% 1.00% 0.60% 0;
	font-size: min(1.82vmax, 16.00px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: normal;
	font-weight: 400;
	text-decoration: none;
}
.inlineTabButton.idle {
	background-color: #303030;
	color: #c0c0c0;
}
.inlineTabButton.selected {
	background-color: #303030;
	color: #c0c0c0;
	border-bottom: 1.25vmin #c0c0c0 solid;
}
.inlineTabButton.idle:hover {
	color: #d0c090;
}
.inlineTabButton.selected:hover {
	color: #d0c090;
}
.snippet {
	position: relative;
	display: block;
	max-width: none;
	width: fit-content;
	block-size: fit-content;
	padding: 1.20% 2.00% 1.20% 2.00%;
	margin: 1.20% 2.00% 1.20% 0;
	font-size: min(1.82vmax, 16.00px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: normal;
	font-weight: 800;
	background-color: #101010;
	color: #70c060;
	border-radius: 2vmin;
	white-space: nowrap;
}
.excerpt {
	position: relative;
	display: block;
	max-width: 100.00%;
	padding: 1.20% 2.00% 1.20% 2.00%;
	margin: 1.20% 2.00% 1.20% 0;
	font-size: min(1.82vmax, 16.00px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: italic;
	font-weight: 400;
	background-color: #101010;
	color: #70c060;
	border-radius: 2vmin;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}
.zero_row {
	position: relative;
	display: block;
	max-width: 1%;
	padding: 0 0 0 0; margin: 0 0 0 0;
	opacity: 0;
}
.xs_row {
	position: relative;
	display: block;
	max-width: 1%;
	padding: 0.30% 1.00% 0.30% 1.00%;
	margin: 0.30% 1.00% 0.30% 0;
	opacity: 0;
}
.s_row {
	position: relative;
	display: block;
	max-width: 1%;
	padding: 0.60% 1.00% 0.60% 1.00%;
	margin: 0.60% 1.00% 0.60% 0;
	opacity: 0;
}
.m_row {
	position: relative;
	display: block;
	max-width: 1%;
	padding: 1.20% 2.00% 1.20% 2.00%;
	margin: 1.20% 2.00% 1.20% 0;
	opacity: 0;
}
.l_row {
	position: relative;
	display: block;
	max-width: 1%;
	padding: 1.80% 3.00% 1.80% 3.00%;
	margin: 1.80% 3.00% 1.80% 0;
	opacity: 0;
}
.xl_row {
	position: relative;
	display: block;
	max-width: 1%;
	padding: 2.40% 4.00% 2.40% 4.00%;
	margin: 2.40% 4.00% 2.40% 0;
	opacity: 0;
}

}

@media (orientation: portrait) {
	
@supports(-moz-appearance:none) {
	* {
		scrollbar-width: none;
		scrollbar-color: #707070 #101010;
	}
}
::-webkit-scrollbar {
	width: 0;
	height: 0;
}
::-webkit-scrollbar-track {
	background: #101010;
}
::-webkit-scrollbar-thumb {
	background: #707070;
	border-radius: 8px;
	border: 4px solid #101010;
}
::-webkit-scrollbar-thumb:hover {
	background: #a0a0a0;
}
iframe {
	position: relative;
	display: block;
	max-width: 100.00%;
	padding: 0 0 0 0;
	margin: 2.00% 2.50% 2.00% 0;
	font-size: min(2.62vmax, 23.04px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: italic;
	font-weight: 800;
	background-color: #303030;
	color: #a0a0a0;
}
p {
	position: relative;
	display: block;
	max-width: 100.00%;
	padding: 0 0 0 0;
	margin: 4.00% 2.50% 4.00% 0;
	font-size: min(1.82vmax, 16.00px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: normal;
	font-weight: 400;
	background-color: #303030;
	color: #c0c0c0;
}
h3 {
	position: relative;
	display: block;
	max-width: 100.00%;
	padding: 0 0 0 0;
	margin: 4.00% 2.50% 4.00% 0;
	font-size: min(2.18vmax, 19.20px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: italic;
	font-weight: 800;
	background-color: #303030;
	color: #b0a070;
}
h2 {
	position: relative;
	display: block;
	max-width: 100.00%;
	padding: 0 0 0 0;
	margin: 4.00% 2.50% 4.00% 0;
	font-size: min(3.14vmax, 27.65px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: italic;
	font-weight: 800;
	background-color: #303030;
	color: #707070;
}
h1 {
	position: relative;
	display: block;
	max-width: 100.00%;
	padding: 0 0 0 0;
	margin: 4.00% 2.50% 4.00% 0;
	font-size: min(3.77vmax, 33.18px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: italic;
	font-weight: 800;
	background-color: #303030;
	color: #d0c090;
}
hr {
	position: relative;
	display: block;
	max-width: 100.00%;
	padding: 0 0 0 0;
	margin: 2.00% 2.50% 2.00% 0;
	background-color: #303030;
	color: #c0c0c0;
}
.fullscreenBar {
	position: absolute;
	display: block;
	left: 0%;
	right: 0%;
	top: 0%;
	bottom: 88%;
	width: 100%;
	height: 12%;
	padding: 0 0 0 0; margin: 0 0 0 0;
	font-size: min(2.18vmax, 19.20px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: italic;
	font-weight: 800;
	background-color: #a0a0a0;
	color: #303030;
	text-align: center;
	z-index: 1;
	overflow: hidden;
}
.fullscreenPanel {
	position: absolute;
	display: block;
	left: 0%;
	right: 2.5%;
	top: 12%;
	bottom: 0%;
	width: 95%;
	height: 88%;
	margin: 0 0 0 0;
	padding: 0 2.5% 0 2.5%;
	font-size: min(2.62vmax, 23.04px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: italic;
	font-weight: 800;
	background-color: #303030;
	color: #a0a0a0;
	overflow-y: scroll;
	overflow-x: auto;
}
.fullscreenBarLogo {
	position: absolute;
	display: block;
	left: 0%;
	right: 0%;
	top: 0%;
	bottom: 35%;
	width: 100%;
	height: 65%;
}
.fullscreenBarLogoImage {
	position: relative;
	display: block;
	max-width: 80%;
	max-height: 70%;
	margin: auto;
  	top: 50%;
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
}
.fullscreenBarMenu {
	position: absolute;
	display: block;
	left: 0%;
	right: 0%;
	top: 65%;
	bottom: 0%;
	width: 100%;
	height: 35%;
}
.fullscreenBarMenuButton {
	position: relative;
	display: inline-block;
	top: 100%; -ms-transform: translateY(-100%); transform: translateY(-100%);
	max-height: 100%;
	padding: 1.00% 2.50% 1.00% 2.50%;
	margin: 0 0 0 0;
	box-sizing: border-box;
	text-decoration: none;
}
.fullscreenBarMenuButton.idle {
	background-color: #a0a0a0;
	color: #303030;
}
.fullscreenBarMenuButton.selected {
	background-color: #303030;
	color: #a0a0a0;
}
.fullscreenBarMenuButton.idle:hover {
	color: #d0c090;
}
.fullscreenBarMenuButton.selected:hover {
	color: #d0c090;
}
.loadingScreen {
	position: absolute;
	display: block;
	left: 0%;
	right: 0%;
	top: 0%;
	bottom: 0%;
	width: 100%;
	height: 100%;
	padding: 0 0 0 0; margin: 0 0 0 0;
	z-index: 900;

	.background {
		position: absolute;
	display: block;
	left: 0%;
	right: 0%;
	top: 0%;
	bottom: 0%;
	width: 100%;
	height: 100%;
		padding: 0 0 0 0; margin: 0 0 0 0;
		background-color: #000000;
	color: #c0c0c0;
	opacity: 0.7;
	}
	.content {
		position: absolute;
		min-width: 50%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: min(3.77vmax, 33.18px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: italic;
	font-weight: 800;
		padding: 4.00% 10.00% 4.00% 10.00%;
	margin: 4.00% 10.00% 4.00% 0;
		background-color: #d0c090;
	color: #303030;
	border-radius: 2vmin;
	border-bottom: 1.25vmin #b0a070 solid;
	border-right: 1.25vmin #b0a070 solid;
		text-align: center;
		z-index: 901;
	}
}
.popupScreen {
	position: absolute;
	display: block;
	left: 0%;
	right: 0%;
	top: 0%;
	bottom: 0%;
	width: 100%;
	height: 100%;
	padding: 0 0 0 0; margin: 0 0 0 0;
	z-index: 500;

	.background {
		position: absolute;
	display: block;
	left: 0%;
	right: 0%;
	top: 0%;
	bottom: 0%;
	width: 100%;
	height: 100%;
		padding: 0 0 0 0; margin: 0 0 0 0;
		background-color: #000000;
	color: #c0c0c0;
	opacity: 0.7;
	}
	.content {
		position: absolute;
		width: 80%;
		width: 80%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: min(1.82vmax, 16.00px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: normal;
	font-weight: 400;
		padding: 2.00% 5.00% 2.00% 5.00%;
	margin: 2.00% 5.00% 2.00% 0;
		background-color: #303030;
	color: #a0a0a0;
	border-radius: 2vmin;
	border-bottom: 1.25vmin #c0c0c0 solid;
	border-right: 1.25vmin #c0c0c0 solid;
		overflow-y: scroll;
		z-index: 501;
	}
}
.s_image {
	position: relative;
	display: inline-block;
	max-width: 45.00%;
	padding: 0 0 0 0;
	margin: 2.00% 2.50% 2.00% 0;
	font-size: min(2.62vmax, 23.04px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: italic;
	font-weight: 800;
	background-color: #303030;
	color: #c0c0c0;
	border-radius: 2vmin;
}
.m_image {
	position: relative;
	display: inline-block;
	max-width: 100.00%;
	padding: 0 0 0 0;
	margin: 2.00% 2.50% 2.00% 0;
	font-size: min(2.62vmax, 23.04px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: italic;
	font-weight: 800;
	background-color: #303030;
	color: #c0c0c0;
	border-radius: 2vmin;
}
.m_linkImage {
	position: relative;
	display: inline-block;
	max-width: 98.00%;
	padding: 0 0 0 0;
	margin: 2.00% 2.50% 2.00% 0;
	font-size: min(2.62vmax, 23.04px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: italic;
	font-weight: 800;
	background-color: #303030;
	color: #a0a0a0;
	border-radius: 2vmin;
	border-bottom: 1.25vmin #a0a0a0 solid;
	border-right: 1.25vmin #a0a0a0 solid;
}
.m_linkImage:hover {
	border-color: #d0c090;
}
.l_image {
	position: relative;
	display: inline-block;
	max-width: 100.00%;
	padding: 0 0 0 0;
	margin: 2.00% 2.50% 2.00% 0;
	font-size: min(2.62vmax, 23.04px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: italic;
	font-weight: 800;
	background-color: #303030;
	color: #c0c0c0;
	border-radius: 2vmin;
}
.portal {
	position: relative;
	display: block;
	margin: 12.5% 0;
	padding: 0 0;
	max-width: 70%;
}
.postEntryButton {
	position: relative;
	display: block;
	max-width: none;
	width: fit-content;
	block-size: fit-content;
	padding: 1.00% 2.50% 1.00% 2.50%;
	margin: 1.00% 2.50% 1.00% 0;
	font-size: min(1.82vmax, 16.00px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: normal;
	font-weight: 800;
	background-color: #101010;
	color: #a0a0a0;
	border-radius: 2vmin;
	border-bottom: 0.5vmin #707070 solid;
	border-right: 0.5vmin #707070 solid;
	text-decoration: none;
}
.postEntryButton:hover {
	border-color: #d0c090;
}
.bigButton {
	position: relative;
	display: block;
	max-width: none;
	width: fit-content;
	block-size: fit-content;
	padding: 6.00% 15.00% 6.00% 15.00%;
	margin: 6.00% 15.00% 6.00% 0;
	font-size: min(2.18vmax, 19.20px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: italic;
	font-weight: 800;
	background-color: #101010;
	color: #a0a0a0;
	border-radius: 2vmin;
	border-bottom: 0.75vmin #707070 solid;
	border-right: 0.75vmin #707070 solid;
	text-decoration: none;
	text-align: center;
}
.bigButton:hover {
	border-color: #d0c090;
}
.pagePath {
	padding: 0 0 0 0;
	margin: 1.00% 2.50% 1.00% 0;
	font-size: min(1.82vmax, 16.00px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: normal;
	font-weight: 400;
}
.listScrollPanel {
	position: relative;
	display: block;
	width: 100.00%;
	height: 70.00%;
	padding: 1.00% 2.50% 1.00% 2.50%;
	margin: 1.00% 2.50% 1.00% 0;
	background-color: #303030;
	color: #c0c0c0;
	border-radius: 2vmin;
	border: 0.1vmin #707070 solid;
	overflow: auto;
}
.listItem {
	position: relative;
	display: block;
	max-width: none;
	width: fit-content;
	block-size: fit-content;
	padding: 1.00% 2.50% 1.00% 2.50%;
	margin: 1.00% 2.50% 1.00% 0;
	font-size: min(1.82vmax, 16.00px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: normal;
	font-weight: 400;
	background-color: #a0a0a0;
	color: #c0c0c0;
	border-radius: 2vmin;
	border: 0.1vmin #c0c0c0 solid;
	text-decoration: none;
}
.inlineTextInput {
	position: relative;
	display: block;
	max-width: none;
	width: fit-content;
	block-size: fit-content;
	padding: 1.00% 2.50% 1.00% 2.50%;
	margin: 1.00% 2.50% 1.00% 0;
	font-size: min(1.82vmax, 16.00px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: normal;
	font-weight: 400;
	background-color: #707070;
	color: #c0c0c0;
	border-radius: 2vmin;
	border-bottom: 0.25vmin #a0a0a0 solid;
	border-right: 0.25vmin #a0a0a0 solid;
}
.inlineLabel {
	position: relative;
	display: inline-block;
	max-width: none;
	width: fit-content;
	block-size: fit-content;
	padding: 1.00% 2.50% 1.00% 2.50%;
	margin: 1.00% 2.50% 1.00% 0;
	font-size: min(1.82vmax, 16.00px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: normal;
	font-weight: 400;
	background-color: #303030;
	color: #a0a0a0;
}
.inlineButton {
	position: relative;
	display: inline-block;
	max-width: none;
	width: fit-content;
	block-size: fit-content;
	padding: 1.00% 2.50% 1.00% 2.50%;
	margin: 1.00% 2.50% 1.00% 0;
	font-size: min(1.82vmax, 16.00px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: normal;
	font-weight: 400;
	background-color: #101010;
	color: #a0a0a0;
	border-radius: 2vmin;
	border-bottom: 0.5vmin #707070 solid;
	border-right: 0.5vmin #707070 solid;
	text-decoration: none;
}
.inlineButton:hover {
	border-color: #d0c090;
	cursor: pointer;
}
.inlineButton:disabled {
	opacity: 0.25;
	cursor: not-allowed;
}
.inlineTabButton {
	position: relative;
	display: inline-block;
	max-width: none;
	width: fit-content;
	block-size: fit-content;
	padding: 1.00% 2.50% 1.00% 2.50%;
	margin: 1.00% 2.50% 1.00% 0;
	font-size: min(1.82vmax, 16.00px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: normal;
	font-weight: 400;
	text-decoration: none;
}
.inlineTabButton.idle {
	background-color: #303030;
	color: #c0c0c0;
}
.inlineTabButton.selected {
	background-color: #303030;
	color: #c0c0c0;
	border-bottom: 1.25vmin #c0c0c0 solid;
}
.inlineTabButton.idle:hover {
	color: #d0c090;
}
.inlineTabButton.selected:hover {
	color: #d0c090;
}
.snippet {
	position: relative;
	display: block;
	max-width: none;
	width: fit-content;
	block-size: fit-content;
	padding: 2.00% 5.00% 2.00% 5.00%;
	margin: 2.00% 5.00% 2.00% 0;
	font-size: min(1.82vmax, 16.00px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: normal;
	font-weight: 800;
	background-color: #101010;
	color: #70c060;
	border-radius: 2vmin;
	white-space: nowrap;
}
.excerpt {
	position: relative;
	display: block;
	max-width: 100.00%;
	padding: 2.00% 5.00% 2.00% 5.00%;
	margin: 2.00% 5.00% 2.00% 0;
	font-size: min(1.82vmax, 16.00px);
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Monaco", Consolas, monospace;
	font-style: italic;
	font-weight: 400;
	background-color: #101010;
	color: #70c060;
	border-radius: 2vmin;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}
.zero_row {
	position: relative;
	display: block;
	max-width: 1%;
	padding: 0 0 0 0; margin: 0 0 0 0;
	opacity: 0;
}
.xs_row {
	position: relative;
	display: block;
	max-width: 1%;
	padding: 0.50% 2.50% 0.50% 2.50%;
	margin: 0.50% 2.50% 0.50% 0;
	opacity: 0;
}
.s_row {
	position: relative;
	display: block;
	max-width: 1%;
	padding: 1.00% 2.50% 1.00% 2.50%;
	margin: 1.00% 2.50% 1.00% 0;
	opacity: 0;
}
.m_row {
	position: relative;
	display: block;
	max-width: 1%;
	padding: 2.00% 5.00% 2.00% 5.00%;
	margin: 2.00% 5.00% 2.00% 0;
	opacity: 0;
}
.l_row {
	position: relative;
	display: block;
	max-width: 1%;
	padding: 3.00% 7.50% 3.00% 7.50%;
	margin: 3.00% 7.50% 3.00% 0;
	opacity: 0;
}
.xl_row {
	position: relative;
	display: block;
	max-width: 1%;
	padding: 4.00% 10.00% 4.00% 10.00%;
	margin: 4.00% 10.00% 4.00% 0;
	opacity: 0;
}

}