<h1>Log In:</h1>

<div class="inlineLabel">Username:</div><input type="text" class="inlineTextInput" id="userName_input">
<div class="zero_row"></div>

<div class="inlineLabel">Password:</div><input type="password" class="inlineTextInput" id="password_input">
<div class="xs_row"></div>

<div class="inlineButton" id="login_button">Log In</div><div class="inlineButton" id="register_button">Create Account</div>
<div class="m_row"></div>

<script>
    $("#userName_input").on("input", function() {
        this.value = TextUtil.sanitizeUserName(this.value);
    });
    $("#password_input").on("input", function() {
        this.value = TextUtil.sanitizePassword(this.value);
    });

    $("#login_button").click(function() {
        if (process_pending)
            return;
        process_pending_on();

        const userName = $("#userName_input").val();
        const userNameError = TextUtil.findErrorInUserName(userName);
        if (userNameError != null)
        {
            alert(UIConfig.displayText.message[userNameError]);
            process_pending_off();
            return;
        }

        const password = $("#password_input").val();
        const passwordError = TextUtil.findErrorInPassword(password);
        if (passwordError != null)
        {
            alert(UIConfig.displayText.message[passwordError]);
            process_pending_off();
            return;
        }

        $.ajax({
            url: "<%= EnvUtil.getRootURL() %>/api/auth/login",
            method: "POST",
            data: { userName, password },
            success: function(result) {
                window.location.href = "<%= EnvUtil.getRootURL() %>/<%= loginDestination %>";
            },
            error: function(xhr) {
                alert(xhr.responseText);
                process_pending_off();
            }
        });
    });

    $("#register_button").click(function() {
        if (process_pending)
            return;
        window.location.href = "<%= EnvUtil.getRootURL() %>/register";
    });
</script>