<script src="https://code.jquery.com/jquery.min.js"></script>
<div id="loadingScreen" class="loadingScreen" style="display: none;">
    <div class="background"></div>
    <div class="content">Loading...</div>
</div>
<script>
    window.thingspool_loading = false;

    window.thingspool_loading_on = () => {
        if (window.thingspool_loading)
            alert("Error: Already loading.");
        window.thingspool_loading = true;
        $("#loadingScreen").css("display", "block");
    };

    window.thingspool_loading_off = () => {
        window.thingspool_loading = false;
        $("#loadingScreen").css("display", "none");
    };
</script>