<div class="l_row"></div>
<img class="s_image" src="<%= process.env.URL_STATIC %>/logo.png" alt="ThingsPool Logo">
<p class="dim">&copy 2019-2026 ThingsPool. All rights reserved.<br><a class="dim" href="<%= process.env.URL_STATIC %>/privacy-policy.html">Privacy Policy</a>&nbsp;&nbsp;<a class="dim" href="<%= process.env.URL_STATIC %>/terms-of-service.html">Terms of Service</a></p>
<div class="xl_row"></div>
</body>
</html>