<div class="l_row"></div>
<img class="xs_image" src="<%= process.env.ROOT_URL %>/logo.png" alt="ThingsPool Logo">
<p class="dim">&copy 2019-2025 ThingsPool. All rights reserved.<br><a class="dim" href="<%= process.env.ROOT_URL %>/privacy-policy.html">Privacy Policy</a>&nbsp;&nbsp;<a class="dim" href="<%= process.env.ROOT_URL %>/terms-of-service.html">Terms of Service</a></p>
<div class="xl_row"></div>
</div>
</body>
</html>