<%- include(`${ejsChunkRootPath}/common/header.ejs`, {
    menuName: "games",
}) %>

<h1>Games</h1>
<%- include(`${ejsChunkRootPath}/info/gameLinks.ejs`) %>

<%- include(`${ejsChunkRootPath}/common/footer.ejs`) %>