<%- include(`${ejsPartialRootPath}/common/header.ejs`, {
    menuName: "games",
}) %>

<h1>Games</h1>
<%- include(`${ejsPartialRootPath}/info/gameLinks.ejs`) %>

<%- include(`${ejsPartialRootPath}/common/footer.ejs`) %>