<%- include(`${ejsPartialRootPath}/common/header.ejs`, {
    menuName: "rooms",
    pagePathList: [
        {title: UIConfig.displayText.menuName["index"], relativeURL: ""},
        {title: UIConfig.displayText.menuName["rooms"], relativeURL: undefined},
    ],
    backDestination_href: process.env.ROOT_URL,
}) %>

<% if (isStaticPage) { %>
<h1>Coming Soon</h1>
<% } else if (user) { %>
<%- include(`${ejsPartialRootPath}/social/rooms.ejs`) %>
<% } else { %>
<%- include(`${ejsPartialRootPath}/auth/login.ejs`) %>
<% } %>

<%- include(`${ejsPartialRootPath}/common/footer.ejs`) %>