<%- include(`${ejsPartialRootPath}/common/header_min.ejs`, {
    includeFullscreenPanel: false,
    useTailwindCSS: true,
}) %>

<div id="uiRoot" class="fixed w-screen h-screen m-0 bg-gray-800">
    <div class="text-amber-300 text-6xl text-center align-middle">Test Text</div>
</div>

<%- include(`${ejsPartialRootPath}/common/footer_min.ejs`, {
    includeFullscreenPanel: false
}) %>