<%- include(`${ejsPartialRootPath}/common/header_min.ejs`, {
    includeFullscreenPanel: true
}) %>
<h2>Duplicate Connection</h2>
<h3>You are already connected in another window.</h3>
<%- include(`${ejsPartialRootPath}/common/footer_min.ejs`, {
    includeFullscreenPanel: true
}) %>