<h3>Welcome, <%= user.username %>!</h3>
<div class="inlineButton" id="logout_button">Log Out</div>
<div class="s_spacer"></div>

<p>Your Data: <%= JSON.stringify(user, null, 4) %></p>
<div class="m_spacer"></div>

<script src="https://code.jquery.com/jquery.min.js"></script>
<script>
    let logout_pending = false;

    $("#logout_button").click(function() {
        if (logout_pending)
            return;
        logout_pending = true;

        $.ajax({
            url: "<%= envUtil.getRootURL() %>/api/logout",
            method: "DELETE",
            success: function(result) {
                window.location.href = "<%= envUtil.getRootURL() %>";
            },
            error: function(xhr) {
                logout_pending = false;
                alert(`ERROR :: (status = ${xhr.status}, statusText = ${xhr.statusText})`);
            }
        });
    });
</script>