<footer>
<img class="logoImageSmall" src="<%= envUtil.getRootURL() %>/logo.png" alt="ThingsPool Logo">
&copy 2019-2025 ThingsPool. All rights reserved.
<div class="l_spacer"></div>
</footer>
</div>
</body>
</html>