<h3>Create Account:</h3>
<div class="s_spacer"></div>

<div class="textInputLabel">ID</div>
<input type="text" class="textInput" id="username_input">
<div class="zero_spacer"></div>

<div class="textInputLabel">Password</div>
<input type="password" class="textInput" id="password_input">
<div class="zero_spacer"></div>

<div class="textInputLabel">Confirm Password</div>
<input type="password" class="textInput" id="confirm_password_input">
<div class="zero_spacer"></div>

<div class="textInputLabel">Email</div>
<input type="email" class="textInput" id="email_input">
<div class="inlineButton" id="verify_button">Send Verification Code</div>
<div class="zero_spacer"></div>

<div class="textInputLabel">Email Verification Code</div>
<input type="text" class="textInput" id="verify_input">
<div class="s_spacer"></div>
<div class="inlineButton" id="register_button">Register</div>
<div class="m_spacer"></div>

<script src="https://code.jquery.com/jquery.min.js"></script>
<script>
    let verification_request_sent = false;
    let register_pending = false;

    $("#verify_button").click(function() {
        if (register_pending)
            return;

        const emailRegexPattern = /^[^\s@]+@[^\s@]+.[^\s@]+$/;
        if (!emailRegexPattern.test($("email_input").value))
        {
            alert("Please enter a valid email address.");
            return;
        }

        $.ajax({
            url: "<%= envUtil.getRootURL() %>/api/vemail",
            method: "POST",
            data: {
                email: $("email_input").value,
            },
            success: function(result) {
                alert("We just sent a verification code to your email. Please enter it in the 'Email Verification Code' section.");
            },
            error: function(xhr) {
                register_pending = false;
                alert(`ERROR :: (status = ${xhr.status}, statusText = ${xhr.statusText})`);
            }
        });
    });

    $("#register_button").click(function() {
        if (register_pending)
            return;
        register_pending = true;

        const username = $("username_input").value;
        if ($("username_input").value.length < 4)
        {
        }

        if ($("password_input").value != $("confirm_password_input").value)
        {
            alert("Passwords do not match. Please re-enter your passwords.");
            register_pending = false;
            return;
        }

        $.ajax({
            url: "<%= envUtil.getRootURL() %>/api/register",
            method: "POST",
            data: {
                username: $("username_input").value,
                password: $("password_input").value,
                email: $("email_input").value,
                verificationCode: $("verify_input").value,
            },
            success: function(result) {
                window.location.href = "<%= envUtil.getRootURL() %>";
            },
            error: function(xhr) {
                register_pending = false;
                alert(`ERROR :: (status = ${xhr.status}, statusText = ${xhr.statusText})`);
            }
        });
    });
</script>