<!DOCTYPE html>
<html>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Console</title>
    <body style="margin: 0 0 0 0; padding: 0 0 0 0; font-family: monospace; white-space: pre-wrap;">
        <div style="padding: 2% 2% 2% 2%; width: 96%; height: 96%;"><%- content %></div>
    </body>
</html>